body {
    background-image: url(../img/city-background.jpg) ;
    /* background-repeat: no-repeat; */
    background-size: cover;
}

h1,h2 {
    color: slategray;
    margin: auto;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.main-navigator li {
    display: inline;
}